.wrapper {
    max-width: 1200px;
    width: 60%;
    margin: 0 auto;
}

// HEADER STYLES
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}
.title-card {
    width: 40%;
    height: 80vh;
    background-color: #007FB6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
        font-weight: 700;
    }
}

.sub-title {
    color: #000;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    font-weight: 700;
    padding: 0;
    margin-bottom: 15px;
}

.mobile, .mobile-title {
    display: none;
}

.header-img-cont {
    width: 60%;
    height: 80vh;
    justify-content: space-evenly;
}

.img-cont-l, .img-cont-m, .img-cont-r {
    width: 33%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.img-cont-l {
    background-image: url('../assets/AFL_Left.png');
}
.img-cont-m {
    background-image: url('../assets/AFL_Center.png');
}
.img-cont-r {
    background-image: url('../assets/AFL_Right.png');
}

// MAIN SECTION

article {
    text-align: center;
    margin: 50px auto;
    .img-cont {
        height: 75px;
        width: 75px;
        margin: 0 auto;
        opacity: 50%;
    }
    .img-cont-2 {
        height: 75px;
        width: 75px;
        margin: 0 auto;
        opacity: none;
    }
}
#dots {
    cursor: pointer;
    @include fontSize(2.8rem);
    line-height: 3rem;
    color: #B9DBE9;
    font-family: 800;
}
#dots:hover,
#dots:focus {
    color: #000;
}

#more {
    display: none;
}

// SHARE SECTION
.share-text {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        text-align: center;
        margin-bottom: 25px;
    }
}

.share-btn-cont a {
    @include fontSize(2rem);
    width: 200px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    padding: 15px 20px;
    margin: 0 15px;
}

// Thank You Page

.ty-cont {
    height: 90vh;
    h1 {
        font-size: 5rem;
        line-height: 5rem;
    }
    p {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.4rem;
    }
}

.ty-btn-cont {
margin: 0 auto;
}

.ty-btn-cont a {
        @include fontSize(2rem);
        width: 200px;
        text-transform: uppercase;
        color: #fff;
        background-color: #000;
        font-weight: 800;
        padding: 15px 0px;
        margin: 15px;
}

.return-btn a {
        @include fontSize(2rem);
        width: 300px;
        text-transform: uppercase;
        color: #fff;
        background-color: #007FB6;
        font-weight: 800;
        padding: 15px 0px;
        margin: 15px;

}

footer {
    background-color: #fff;
    .footer-cont {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 25px;
        align-items: center;
        width: 70%;
        padding: 25px 0;
        .footer-text p {
            font-weight: 300;
            padding: 20px;
        }
        .logo-cont {
            padding: 20px;
        }
    }
}

.ty-footer-cont {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 25px;
    align-items: center;
    width: 100%;
    padding: 25px 0;
    .footer-text p {
        font-weight: 300;
        padding: 20px;
    }
    
    .logo-cont {
        padding: 20px;
    }
}

// Pagination
.content {
    display: none;
}

#loadMore {
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    @include fontSize(2.2rem);
    font-weight: 800;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 250px;
    padding: 10px;
    margin: 50px auto;
}

#loadMore:hover,
#loadMore:focus {
color: #ccc;
transition: all 0.3s ease-in;
}

.noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
    border: transparent !important;
    display: none;
}
// Share Section
.share-cont {
    height: fit-content;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    p {
        color: #fff;
    }
}

.share-btn {
    width: 200px;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: #007FB6;
}

.share-btn:hover,
.share-btn:focus {
    color: black;
    background-color: #ccc;
    border: 1px solid transparent;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

