.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

h1 {
    color: #fff;
    font-size: 14vh;
    line-height: 0.9;
    font-weight: 700;
    margin-bottom: 50px;
    padding-bottom: 0;
}

.title-card {
    width: 50%;
}

.stories {
    max-width: 1200px;
    width: 60%;
    margin: 0 auto;
}

article {
    text-align: center;
}