.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
// .overlay {
//     height: 70vh;
//     width: 100%;
//     position: relative;
//     left: 0;
//     bottom: 0;
//     background-image: url('https://placekeanu.com/1200/400');
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     border: 1px solid #ccc;
// }

.title-card {
    width: 40%;
    height: 70vh;
    background-color: #007FB6;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    .sub-title {
        color: black;
        font-size: 2rem;
        line-height: 3rem;
        font-weight: 800;
    }
}

.img-cont {
    width: 50%;
    height: 70vh;
    background-image: url('../assets/AFL_Banner.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.stories {
    max-width: 1200px;
    width: 60%;
    margin: 0 auto;
}

article {
    text-align: center;
    margin-bottom: 100px;
}

footer {
    background-color: #fff;
    section {
        align-items: center;
        justify-content: center;
        padding: 20px;
        width: 80%;
        .footer-text p {
            @include fontSize(1.2rem);
            margin: 0;
            margin-left: 50px;
        }
        .logo-cont {
            width: 200px;
        }
    }
}


// Pagination
.content {
    display: none;
}

#loadMore {
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: larger;
    font-weight: 800;
    padding: 10px;
    margin-bottom: 50px;
}

#loadMore:hover,
#loadMore:focus {
color: #ccc;
transition: all 0.3s ease-in;
}

.share-cont {
    height: 30vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
        color: #fff;
    }
}

.share-btn {
    width: 200px;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 20px auto;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid transparent;
    background-color: #007FB6;
}

.share-btn:hover,
.share-btn:focus {
    color: black;
    background-color: #ccc;
    border: 1px solid transparent;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

.noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
}