@mixin fontSize ($sizeValue) {
    font-size: $sizeValue;
    color: #000;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
}

h1 {
    color: #fff;
    font-family: 'Coustard', sans-serif;
    font-size: 4.5rem;
    line-height: 5rem;
    font-weight: 400;
    margin-bottom: 15px;
}

h2 {
    @include fontSize(3.2rem);
    line-height: 3.5rem;
    color: #fff;
    font-family: 'Coustard', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 5px 0;
}

h3 {
    @include fontSize(2.4rem);
    line-height: 2.6rem;
    color: #B9DBE9;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-bottom: 25px;
}

p {
    @include fontSize(2rem);
    line-height: 3rem;
    color: #000;
    text-align: left;
    margin-bottom: 15px;
}
