@mixin fontSize ($sizeValue) {
    font-size: $sizeValue;
    color: black;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    
}
h1 {
    color: #fff;
    font-family: 'Coustard', sans-serif;
    font-size: 14vh;
    line-height: 0.9;
    font-weight: 800;
    margin: 0px;
    padding-bottom: 0;
}

h2, h3 {
    @include fontSize(3rem);
    line-height: 3.5rem;
    color: #fff;
    font-family: 'Coustard', sans-serif;
    margin: 10px 0;

}

p {
    @include fontSize(2rem);
    line-height: 3rem;
    text-align: left;
    color: black;
}