@media (max-width: 1165px) {
    h1 {
        font-size: 4.2rem;
        line-height: 4.5rem;
    }
}

@media (max-width: 1020px) {
    .wrapper {
        width: 80%;
    }
    .header {
        flex-direction: column-reverse;
        justify-content: flex-start;
    }
    .title-card {
        height: fit-content;
        width: 100%;
        padding: 20px 40px;
        text-align: center;
        p {
            text-align: center;
        }
    }
    .header-img-cont {
        width: 100%;
        justify-content: space-between;
        height: 60vh;
    }
    .img-cont-l, .img-cont-m, .img-cont-r {
        width: 100%;
        background-size: contain;
    }
    .sub-heading {
        margin: 25px auto;
    }
    .modal-content {
        width: 60%;
    }
    .close {
        top: 3%;
        left: 20%;
    }
    .stories {
        width: 80%;
    }
    footer .footer-cont {
        width: 100%;
        padding-bottom: 50px;
    }
}

@media (max-width: 725px) {
    .wrapper {
        width: 90%;
    }
    .mobile-title {
        display: block;
        order: 1;
        margin-top: 30px;
        font-size: 4rem;
        line-height: 4.5rem;
    }
    .mobile {
        display: block;
    }
    .img-cont-l, .img-cont-r, .title-card {
        display: none;
    }
    .header-img-cont {
        height: 60vh;
    }
    .img-cont-m {
        background-image: url('../assets/AFL_Center.png');
        background-size: contain;
    }
    .title-card, 
    .stories {
        width: 100%;
        padding: 20px;
    }
    .mobile {
        overflow: hidden;
    }
    .modal-content {
        width: 90%;
        padding: 20px;
    }
    .close {
        top: 20px;
        left: 20px;
    }
    .close:hover, .close:focus {
        color: #007FB6;
    }
    .share-btn-cont {
        flex-direction: column;
        a {
            width: 250px;
            margin: 15px 0;
        }
    }
    footer .footer-cont {
        grid-template-columns: 1fr;
        gap: 0;
        padding: 0 20px 100px;
        .footer-text p {
            text-align: center;
            padding: 0;
        }
        .logo-cont {
            margin: 0 auto;
            padding: 20px;
            width: 250px;
        }
    }
    footer .ty-footer-cont {
        grid-template-columns: 1fr;
        gap: 0;
        padding: 0 20px 20px;
        .footer-text p {
            text-align: center;
            padding: 0;
        }
        .logo-cont {
            margin: 0 auto;
            padding: 20px;
            width: 250px;
        }
    }
    button {
        left: calc(50% - 15px);
        bottom: -15px;
        transform: translate(-50%, -50%);
    }
}

